In [ ]:
# Introduction to Python
# This is a comment
# Homework
# 1. How to print two or more formatted float numbers or strtings
# 2. Searching an item in a list

In [3]:
a = "abc"
a.capitalize()
print(type(a))
b = 123
print(type(b))
print(a)

<class 'str'>
<class 'int'>
abc

In [1]:
a = 1
b = 1.0
c = "1"
d = 5 + 6j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

e=d + a
print(e)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
(6+6j)

In [5]:
a = "Today is Saturday" "and tomorrow is Sunday"
print(a)
print( a * 3)

Today is Saturdayand tomorrow is Sunday
Today is Saturdayand tomorrow is SundayToday is Saturdayand tomorrow is SundayToday is Saturdayand tomorrow is Sunday

In [6]:
a,b,c,d = 1,2,"3",3+8j
print(a)
print(b)
print(c)
print(d)

1
2
3
(3+8j)

In [7]:
a = input("Please input the value of a: ")
b = int(a)
print("The type of a is: ", type(a))
print("The type of b is: ", type(b))
print("The value of a is: ", a)
print("The value of b is: ", b)

Please input the value of a: 12
The type of a is:  <class 'str'>
The type of b is:  <class 'int'>
The value of a is:  12
The value of b is:  12

In [8]:
a = "today is Saturday"
print(a[0]) 
i = 1

t

In [ ]:
# Homework
a = 2/3
#print("value is %s and tomorrow is %s" %("Saturday"))
print("value is %s and tomorrow is %s" %("Saturday", "Sunday"))

In [ ]:
a = 1>2
b = 1<2
print(a)
print(b)
print(type(b))

In [ ]:
a = print("one")
print(type(a))

In [9]:
# Example of List
a = ["one", "two", "three"]
a.append("four")
print(a)

['one', 'two', 'three', 'four']

In [10]:
# Example of Set
aset = {1,3,5,7,9}
aset.add(9)
aset.add(10)
print(aset)
b = 7 in aset
c = 11 in aset
print(b)
print(c)

{1, 3, 5, 7, 9, 10}
True
False

In [11]:
# Example of Dictionary
capital = {"India":"New Delhi", "Pakistan":"Islamabad", "Bangladesh":"Dhaka"}
print(capital["India"])

New Delhi

In [12]:
# Example of Tuple
t = (1,"one","uno","Ein")
print(type(t))
print(t.count)

<class 'tuple'>
<built-in method count of tuple object at 0x0000023351EE9A98>

In [13]:
"Hello World"[::1]

'Hello World'

In [2]:
l2 = [1,2,3,4,5]
type(l2[0])
l2[::3]

[1, 4]

In [16]:
t1 = (1,3,5)

In [18]:
t1[2]

5

In [19]:
dict1 = {"Good":"achcha", "Bad":"Bura"}
dict1["Good"]

'achcha'