**Iâ€™ll show you how to get from Pandas DataFrame to SQL.**

In [1]:
from pandas import DataFrame

Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = DataFrame(Cars, columns= ['Brand', 'Price'])
print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('TestDB1.db')
c = conn.cursor()

In [4]:
c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

In [5]:
df.to_sql('CARS', conn, if_exists='replace', index = False)

In [6]:
c.execute('''  
SELECT * FROM CARS
          ''')

for row in c.fetchall():
    print (row)

('Honda Civic', 22000)
('Toyota Corolla', 25000)
('Ford Focus', 27000)
('Audi A4', 35000)

In [7]:
import sqlite3
from pandas import DataFrame

conn = sqlite3.connect('TestDB2.db')
c = conn.cursor()

c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = DataFrame(Cars, columns= ['Brand', 'Price'])
df.to_sql('CARS', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT Brand, max(price) FROM CARS
          ''')

df = DataFrame(c.fetchall(), columns=['Brand','Price'])    
print (df)

#c.execute('DROP TABLE CARS')

     Brand  Price
0  Audi A4  35000