In [9]:
import pandas as pd

myProducts = {'Product': ['Tablet', 'iPhone', 'Laptop', 'Monitor', 'Computer'], 
              'Price': [250, 800, 1200, 300, 1500], 
              }

df = pd.DataFrame(myProducts, columns= ['Product', 'Price'])

print(df)

    Product  Price
0    Tablet    250
1    iPhone    800
2    Laptop   1200
3   Monitor    300
4  Computer   1500

In [10]:
df = df.drop([0, 3])

print(df)

    Product  Price
1    iPhone    800
2    Laptop   1200
4  Computer   1500

In [11]:
df = df.reset_index(drop=True)

print(df)

    Product  Price
0    iPhone    800
1    Laptop   1200
2  Computer   1500

**How to Rename Columns in Pandas DataFrame**

In [12]:
import pandas as pd

data = {'Vegetables': ['Apple', 'Orange', 'Banana', 'Coconut', 'Mango']}
df = pd.DataFrame(data, columns = ['Vegetables'])

print (df)

  Vegetables
0      Apple
1     Orange
2     Banana
3    Coconut
4      Mango

In [13]:
df = df.rename(columns = {'Vegetables':'Fruits'})

print (df)

    Fruits
0    Apple
1   Orange
2   Banana
3  Coconut
4    Mango

In [14]:
import pandas as pd

data = {'Colors': ['Triangle', 'Square', 'Circle'],
        'Shapes': ['Red', 'Blue', 'Green']
        }

df = pd.DataFrame(data,columns = ['Colors','Shapes'])

print (df)

     Colors Shapes
0  Triangle    Red
1    Square   Blue
2    Circle  Green

In [15]:
df = df.rename(columns = {'Colors':'Shapes','Shapes':'Colors'})

print (df)

     Shapes Colors
0  Triangle    Red
1    Square   Blue
2    Circle  Green

**How to Drop Rows with NaN Values in Pandas DataFrame**

df.dropna()

In [16]:
import pandas as pd

df = pd.DataFrame({'values_1': ['700','ABC','500','XYZ','1200'],
                   'values_2': ['DDD','150','350','400','5000'] 
                   })

print (df)

  values_1 values_2
0      700      DDD
1      ABC      150
2      500      350
3      XYZ      400
4     1200     5000

In [17]:
df = df.apply (pd.to_numeric, errors='coerce')

print (df)

   values_1  values_2
0     700.0       NaN
1       NaN     150.0
2     500.0     350.0
3       NaN     400.0
4    1200.0    5000.0

In [18]:
df = df.dropna()

print (df)

   values_1  values_2
2     500.0     350.0
4    1200.0    5000.0