In [1]:
from pandas import DataFrame

People_List = ['Jon','Mark','Maria','Jill','Jack']

df = DataFrame (People_List,columns=['First_Name'])
print (df)

  First_Name
0        Jon
1       Mark
2      Maria
3       Jill
4       Jack

In [2]:
df=df.assign(weight=[23,45,23,23,43])

In [3]:
df

  First_Name  weight
0        Jon      23
1       Mark      45
2      Maria      23
3       Jill      23
4       Jack      43

In [4]:
from pandas import DataFrame

People_List = [['Jon','Smith',21],['Mark','Brown',38],['Maria','Lee',42],['Jill','Jones',28],['Jack','Ford',55]]

df = DataFrame (People_List,columns=['First_Name','Last_Name','Age'])
print (df)

  First_Name Last_Name  Age
0        Jon     Smith   21
1       Mark     Brown   38
2      Maria       Lee   42
3       Jill     Jones   28
4       Jack      Ford   55

In [5]:
from pandas import DataFrame

People_List = [['Jon','Mark','Maria','Jill','Jack'],['Smith','Brown','Lee','Jones','Ford'],[21,38,42,28,55]]

df = DataFrame (People_List).transpose()
df.columns = ['First_Name','Last_Name','Age']
print (df)

  First_Name Last_Name Age
0        Jon     Smith  21
1       Mark     Brown  38
2      Maria       Lee  42
3       Jill     Jones  28
4       Jack      Ford  55

In [7]:
People_List

[['Jon', 'Mark', 'Maria', 'Jill', 'Jack'],
 ['Smith', 'Brown', 'Lee', 'Jones', 'Ford'],
 [21, 38, 42, 28, 55]]