In [2]:
import pandas as pd

clients = {'Client_ID': [111,222,333,444,555],
           'Client_Name': ['Jon Snow','Maria Green', 'Bill Jones','Rick Lee','Pamela Lopez']
           }
df1 = pd.DataFrame(clients,columns= ['Client_ID','Client_Name'])
print(df1)
print(' ')
countries = {'Client_ID': [111,222,333,444,777],
             'Client_Country': ['UK','Canada','Spain','China','Brazil']
             }
df2 = pd.DataFrame(countries,columns= ['Client_ID', 'Client_Country'])
print(df2)

   Client_ID   Client_Name
0        111      Jon Snow
1        222   Maria Green
2        333    Bill Jones
3        444      Rick Lee
4        555  Pamela Lopez

   Client_ID Client_Country
0        111             UK
1        222         Canada
2        333          Spain
3        444          China
4        777         Brazil

In [3]:
Inner_Join = pd.merge(df1, df2, how='inner', on=['Client_ID', 'Client_ID'])
print(Inner_Join)

   Client_ID  Client_Name Client_Country
0        111     Jon Snow             UK
1        222  Maria Green         Canada
2        333   Bill Jones          Spain
3        444     Rick Lee          China

In [4]:
Left_Join = pd.merge(df1, df2, how='left', on=['Client_ID', 'Client_ID'])
print(Left_Join)

   Client_ID   Client_Name Client_Country
0        111      Jon Snow             UK
1        222   Maria Green         Canada
2        333    Bill Jones          Spain
3        444      Rick Lee          China
4        555  Pamela Lopez            NaN

In [5]:
Right_Join = pd.merge(df1, df2, how='right', on=['Client_ID', 'Client_ID'])
print(Right_Join)

   Client_ID  Client_Name Client_Country
0        111     Jon Snow             UK
1        222  Maria Green         Canada
2        333   Bill Jones          Spain
3        444     Rick Lee          China
4        777          NaN         Brazil

In [6]:
Outer_Join = pd.merge(df1, df2, how='outer', on=['Client_ID', 'Client_ID'])
print(Outer_Join)

   Client_ID   Client_Name Client_Country
0        111      Jon Snow             UK
1        222   Maria Green         Canada
2        333    Bill Jones          Spain
3        444      Rick Lee          China
4        555  Pamela Lopez            NaN
5        777           NaN         Brazil

**How to Convert String to Integer in Pandas DataFrame**

In [9]:
import pandas as pd

Data = {'Product': ['AAA','BBB'],
          'Price': ['210','250']}

df = pd.DataFrame(Data)
print (df)

  Product Price
0     AAA   210
1     BBB   250

In [8]:
print (df.dtypes)

Product    object
Price      object
dtype: object

In [10]:
df['Price'] = df['Price'].astype(int)

In [11]:
print (df.dtypes)

Product    object
Price       int32
dtype: object

In [12]:
import pandas as pd

Data = {'Product': ['AAA','BBB'],
          'Price': ['210','250']}

df = pd.DataFrame(Data)
df['Price'] = pd.to_numeric(df['Price'])

print (df)
print (df.dtypes)

  Product  Price
0     AAA    210
1     BBB    250
Product    object
Price       int64
dtype: object

In [13]:
import pandas as pd

Data = {'Product': ['AAA','BBB','CCC'],
          'Price': ['210','250','22XYZ']}

df = pd.DataFrame(Data)
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')

print (df)
print (df.dtypes)

  Product  Price
0     AAA  210.0
1     BBB  250.0
2     CCC    NaN
Product     object
Price      float64
dtype: object