**Dataframe to list**
#df.values.tolist()

In [12]:
from pandas import DataFrame

Products = {'Product': ['Tablet','iPhone','Laptop','Monitor'],'Price': [250,800,1200,300],'Quantity':[2,4,6,3]}
            
df = DataFrame(Products, columns= ['Product', 'Price','Quantity'])

Products_list = df.values.tolist()
print (Products_list)

[['Tablet', 250, 2], ['iPhone', 800, 4], ['Laptop', 1200, 6], ['Monitor', 300, 3]]

In [13]:
Products_list = [df.columns.values.tolist()] + df.values.tolist()
print (Products_list)

[['Product', 'Price', 'Quantity'], ['Tablet', 250, 2], ['iPhone', 800, 4], ['Laptop', 1200, 6], ['Monitor', 300, 3]]

In [14]:
df.columns.values

array(['Product', 'Price', 'Quantity'], dtype=object)

In [17]:
from pandas import DataFrame

Products = {'Product': ['Tablet','iPhone','Laptop','Monitor'],
            'Price': [250,800,1200,300]
            }

df = DataFrame(Products, columns= ['Product', 'Price'])

Products_list = [df.columns.values.tolist()] + df.values.tolist()
f = '{:<8}|{:<15}' # formatting

for i in Products_list:
    print(f.format(*i))

Product |Price
Tablet  |250
iPhone  |800
Laptop  |1200
Monitor |300

In [26]:
from pandas import DataFrame

Products = {'Product': ['Tablet','iPhone','Laptop','Monitor'],
            'Price': [250,800,1200,300]
            }

df = DataFrame(Products, columns= ['Product', 'Price'])

Product = df['Product'].values.tolist()
print (Product)

['Tablet', 'iPhone', 'Laptop', 'Monitor']

In [27]:
Product.append('Printer')

In [28]:
Product

['Tablet', 'iPhone', 'Laptop', 'Monitor', 'Printer']

**Sorting of dataframe**

**Let's do it **

In [32]:
from pandas import DataFrame
 
Cars = {'Brand': ['Honda ','Toyota ','Ford ','Audi A4','BMW'],
        'Price': [22000,25000,27000,35000,40000],
        'Year': [2015,2013,2018,2018,2016]
        }
 
df = DataFrame(Cars, columns= ['Brand', 'Price','Year'])

print (df)

     Brand  Price  Year
0   Honda   22000  2015
1  Toyota   25000  2013
2    Ford   27000  2018
3  Audi A4  35000  2018
4      BMW  40000  2016

**Sort Pandas DataFrame in an ascending order**
##Note - Ascending order is defult

In [34]:
df.sort_values(by=['Brand'], inplace=True)
print (df)

     Brand  Price  Year
3  Audi A4  35000  2018
4      BMW  40000  2016
2    Ford   27000  2018
0   Honda   22000  2015
1  Toyota   25000  2013

In [35]:
df.sort_values(by=['Year'], inplace=True)
print (df)

     Brand  Price  Year
1  Toyota   25000  2013
0   Honda   22000  2015
4      BMW  40000  2016
3  Audi A4  35000  2018
2    Ford   27000  2018

In [37]:
from pandas import DataFrame
 
Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = DataFrame(Cars, columns= ['Brand', 'Price','Year'])

# sort Brand - descending order
df.sort_values(by=['Year'], inplace=True, ascending=False)

print (df)

            Brand  Price  Year
2      Ford Focus  27000  2018
3         Audi A4  35000  2018
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013

**Sort by multiple columns â€“ case#1**

In [39]:
# sort by multiple columns
from pandas import DataFrame
 
Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = DataFrame(Cars, columns= ['Brand', 'Price','Year'])

# sort by multiple columns: Year and Price
df.sort_values(by=['Year','Price'], inplace=True)

print (df)

            Brand  Price  Year
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015
2      Ford Focus  27000  2018
3         Audi A4  35000  2018