In [ ]:
import tkinter as tk
from tkinter import filedialog
import pandas as pd

root= tk.Tk()

canvas1 = tk.Canvas(root, width = 300, height = 300, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def getCSV ():
    global df
    
    import_file_path = filedialog.askopenfilename()
    df = pd.read_csv (import_file_path)
    print (df)
    
browseButton_CSV = tk.Button(text="      Import CSV File     ", command=getCSV, bg='green', fg='white', font=('helvetica', 12, 'bold'))
canvas1.create_window(150, 150, window=browseButton_CSV)

root.mainloop()

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
from pandas import DataFrame

Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = DataFrame(Cars,columns= ['Brand', 'Price'])

print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [8]:
export_excel = df.to_excel('car_model.xlsx',index=None,header=True)

In [10]:
from pandas import DataFrame

Data = {'Product': ['Desktop Computer','Tablet','iPhone','Laptop'],
        'Price': [700,250,800,1200]
        }

df = DataFrame(Data, columns= ['Product', 'Price'])

print (df)

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [11]:
jas=df.to_json('electronic.jason')

In [36]:
#if conditions in df
import numpy as np
import pandas as pd
df=pd.DataFrame(np.arange(11).reshape(11,1),columns=['numbers'])
df

    numbers
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10

In [38]:
df.loc[df.numbers <= 4, 'equal_or_lower_than_4?'] = 'True' 
df.loc[df.numbers > 4, 'equal_or_lower_than_4?'] = 'False' 

print (df)

    numbers equal_or_lower_than_4?
0         0                   True
1         1                   True
2         2                   True
3         3                   True
4         4                   True
5         5                  False
6         6                  False
7         7                  False
8         8                  False
9         9                  False
10       10                  False

In [39]:
df['equal_or_lower_than_6?'] = df['numbers'].apply(lambda x: 'True' if x <= 6 else 'False')

print (df)

    numbers equal_or_lower_than_4? equal_or_lower_than_6?
0         0                   True                   True
1         1                   True                   True
2         2                   True                   True
3         3                   True                   True
4         4                   True                   True
5         5                  False                   True
6         6                  False                   True
7         7                  False                  False
8         8                  False                  False
9         9                  False                  False
10       10                  False                  False

In [40]:
from pandas import DataFrame

Names1 = {'First_name': ['Jon','Bill','Maria','Emma']}
df = DataFrame(Names1,columns=['First_name'])

df.loc[df.First_name == 'Bill', 'name_match'] = 'Match'  
df.loc[df.First_name != 'Bill', 'name_match'] = 'Mis-Match'  
 
print (df)

  First_name name_match
0        Jon  Mis-Match
1       Bill      Match
2      Maria  Mis-Match
3       Emma  Mis-Match

In [41]:
#using lambda function
from pandas import DataFrame

Names1 = {'First_name': ['Jon','Bill','Maria','Emma']}
df = DataFrame(Names1,columns=['First_name'])

df['name_match'] = df['First_name'].apply(lambda x: 'Match' if x == 'Bill' else 'Mis-Match')

print (df)

  First_name name_match
0        Jon  Mis-Match
1       Bill      Match
2      Maria  Mis-Match
3       Emma  Mis-Match

In [42]:
from pandas import DataFrame

Names1 = {'First_name': ['Jon','Bill','Maria','Emma']}
df = DataFrame(Names1,columns=['First_name'])

df.loc[(df.First_name == 'Bill') | (df.First_name == 'Emma'), 'name_match'] = 'Match'  
df.loc[(df.First_name != 'Bill') & (df.First_name != 'Emma'), 'name_match'] = 'Mis-Match'  

print (df)

  First_name name_match
0        Jon  Mis-Match
1       Bill      Match
2      Maria  Mis-Match
3       Emma      Match

**Concatenate Column Values in Python using Pandas**

In [45]:
from pandas import DataFrame 

Dates = {'Day': [1,2,3,4,5], 
        'Month': ['Jun','Jul','Aug','Sep','Oct'], 
        'Year': [2016,2017,2018,2019,2020]} 

df2 = DataFrame(Dates, columns= ['Day', 'Month','Year'])
print (df2)

   Day Month  Year
0    1   Jun  2016
1    2   Jul  2017
2    3   Aug  2018
3    4   Sep  2019
4    5   Oct  2020

In [46]:
df2['date'] = df2['Day'].map(str) + '-' + df2['Month'].map(str) + '-' + df2['Year'].map(str)
df2

   Day Month  Year        date
0    1   Jun  2016  1-Jun-2016
1    2   Jul  2017  2-Jul-2017
2    3   Aug  2018  3-Aug-2018
3    4   Sep  2019  4-Sep-2019
4    5   Oct  2020  5-Oct-2020

In [47]:
#cancateing two dataframe

In [48]:
from pandas import DataFrame 

Dates = {'Day': [1,2,3,4,5], 
        'Month': ['Jun','Jul','Aug','Sep','Oct'], 
        'Year': [2016,2017,2018,2019,2020]} 

df1 = DataFrame(Dates, columns= ['Day', 'Month','Year']) 


Rates = {'Unemployment Rate': [5.5,5,5.2,5.1,4.9], 
         'Interest Rate': [1.75,1.5,1.25,1.5,2]} 

df2 = DataFrame(Rates, columns= ['Unemployment Rate', 'Interest Rate'])


df_combined = df1['Day'].map(str) + '-' + df1['Month'].map(str) + '-' + df1['Year'].map(str) + ': ' + 'Unemployment: ' + df2['Unemployment Rate'].map(str) + '; ' + 'Interest: ' + df2['Interest Rate'].map(str)

print (df_combined)

0    1-Jun-2016: Unemployment: 5.5; Interest: 1.75
1     2-Jul-2017: Unemployment: 5.0; Interest: 1.5
2    3-Aug-2018: Unemployment: 5.2; Interest: 1.25
3     4-Sep-2019: Unemployment: 5.1; Interest: 1.5
4     5-Oct-2020: Unemployment: 4.9; Interest: 2.0
dtype: object

In [49]:
from pandas import DataFrame 

Data1 = {'Set1': [55,22,11,77,33]} 
df1 = DataFrame(Data1, columns= ['Set1']) 

Data2 = {'Set2': [23,45,21,73,48]} 
df2 = DataFrame(Data2, columns= ['Set2'])

Concatenated = df1['Set1'].map(str) + df2['Set2'].map(str)

df_combined = DataFrame(Concatenated, columns=['Combined Values'])

In [50]:
df_combined

  Combined Values
0            5523
1            2245
2            1121
3            7773
4            3348