In [1]:
from pandas import DataFrame

Data = {'Month': ['Jan ','Feb ','Mar ','Apr ','May ','Jun '],
        'Bill Commission': [1500,2200,3500,1800,3000,2800],
        'Maria Commission': [3200,4100,2500,3000,4700,3400], 
        'Jack Commission': [1700,3100,3300,2700,2400,3100]
        }

df = DataFrame(Data,columns=['Month','Bill Commission','Maria Commission','Jack Commission'])
print (df)

  Month  Bill Commission  Maria Commission  Jack Commission
0  Jan              1500              3200             1700
1  Feb              2200              4100             3100
2  Mar              3500              2500             3300
3  Apr              1800              3000             2700
4  May              3000              4700             2400
5  Jun              2800              3400             3100

In [2]:
df.sum(axis=0)

Month               Jan Feb Mar Apr May Jun
Bill Commission                        14800
Maria Commission                       20900
Jack Commission                        16300
dtype: object

In [3]:
df.sum(axis=1)

0     6400
1     9400
2     9300
3     7500
4    10100
5     9300
dtype: int64

In [4]:
df.count(axis=0)

Month               6
Bill Commission     6
Maria Commission    6
Jack Commission     6
dtype: int64

In [5]:
df.count(axis=1)

0    4
1    4
2    4
3    4
4    4
5    4
dtype: int64

In [6]:
from pandas import DataFrame

Products = {'Product': ['Tablet','iPhone','Laptop','Monitor']}
df = DataFrame(Products, columns= ['Product'])

print (df)

   Product
0   Tablet
1   iPhone
2   Laptop
3  Monitor

In [7]:
df = df.assign(Price = [250,800,1200,300])
print (df)

   Product  Price
0   Tablet    250
1   iPhone    800
2   Laptop   1200
3  Monitor    300

In [8]:
df=df.assign(Discount = ['15%','10%','5%','25%'])

In [9]:
df

   Product  Price Discount
0   Tablet    250      15%
1   iPhone    800      10%
2   Laptop   1200       5%
3  Monitor    300      25%

**How to Compare Values in two Pandas DataFrames**

In [17]:
from pandas import DataFrame

firstProductSet = {'Product1': ['Computer','Phone','Printer','Desk'],
                   'Price1': [1200,800,200,350]
                   }
df1 = DataFrame(firstProductSet,columns= ['Product1', 'Price1'])
print(df1)
print('   ')
print('   ')
secondProductSet = {'Product2': ['Computer','Phone','Printer','Desk'],
                    'Price2': [900,800,300,350]
                    }
df2 = DataFrame(secondProductSet,columns= ['Product2', 'Price2'])
print (df2)

   Product1  Price1
0  Computer    1200
1     Phone     800
2   Printer     200
3      Desk     350


   Product2  Price2
0  Computer     900
1     Phone     800
2   Printer     300
3      Desk     350

In [18]:

df1['Price2'] = df2['Price2']

In [21]:
df1
import numpy as np

In [22]:
df1['pricesMatch?'] = np.where(df1.Price1 == df2.Price2, 'True', 'False')  #create new column in df1 to check if prices match
print (df1)

   Product1  Price1  Price2 pricesMatch?
0  Computer    1200     900        False
1     Phone     800     800         True
2   Printer     200     300        False
3      Desk     350     350         True

In [23]:
df1['priceDiff?'] = np.where(df1.Price1 == df2.Price2, '0', df1.Price1 - df2.Price2) #create new column in df1 for price diff 
print (df1)

   Product1  Price1  Price2 pricesMatch? priceDiff?
0  Computer    1200     900        False        300
1     Phone     800     800         True          0
2   Printer     200     300        False       -100
3      Desk     350     350         True          0